h1,
.h1,
h2,
.h2,
h3,
h4,
h5,
h6 {}

h2 span,
h1 span {}

h1,
.h1,
h1 span,
.h1 span {

  // line-height: 100% ;
  // font-size:  clamp(30px, 5vw, 96px);
}

h2,
.h2,
h2 span,
.h2 span,
h2 strong {
  color: #000;
  line-height: 134.375%;
  font-size: 30px;
  margin-bottom: 10px;
font-weight: 400;

  @include min(576) {
    font-size: 36px;
    margin-bottom: 12px;
  }

  @include min(1200) {
    font-size: 43px;
    margin-bottom: 14px;
  }

  @include min(1280) {
    font-size: 46px;
    margin-bottom: 16px;
  }

  @include min(1350) {
    font-size: 48px;
    margin-bottom: 18px;
  }

  @include min(1440) {
    font-size: 51px;
    margin-bottom: 20px;
  }

  @include min(1600) {
    font-size: 56px;
    margin-bottom: 22px;
  }

  @include min(1900) {
    font-size: 64px;
    margin-bottom: 24px;
  }
}

h3,
.h3,
.h3 strong {
  font-weight: 400;
  font-size: 18px;

  @include min(992) {
    font-size: 20px;
  }

  @include min(1200) {
    font-size: 21px;
  }

  @include min(1280) {
    font-size: 20px;
  }

  @include min(1350) {
    font-size: 22px;
  }

  @include min(1440) {
    font-size: 24px;
  }

  @include min(1600) {
    font-size: 26px;
  }

  @include min(1900) {
    font-size: 28px;
  }

}

h4,
.h4,
.h4 strong {
  font-weight: 500;
  font-size: 18px;

  @include min(1350) {
    font-size: 20px;

  }

  @include min(1440) {
    font-size: 21px;
  }

  @include min(1600) {
    font-size: 22px;
  }

  @include min(1900) {
    font-size: 24px;
  }


}


h5,
.h5,
.h5 strong {
  font-weight: 500;

  font-size: 12px;

  @include min(768) {
    font-size: 13px;
  }

  @include min(992) {
    font-size: 12px;
  }

  @include min(1200) {
    font-size: 13px;

  }

  @include min(1350) {
    font-size: 14px;

  }

  @include min(1440) {
    font-size: 15px;
  }

  @include min(1600) {
    font-size: 16px;
  }

  @include min(1900) {
    font-size: 18px;
  }


}

p {
  margin-bottom: 0;
}