// Colors
$primaryColor: #2A559C !default;

$greyBg: #EFEFEF !default;
$grey: #D9D9D9 !default;
$white: #fff !default;
$black: #0A1119;
$red: #F1582C;
$yellow: #E2FF06 !default;
$accentColor: #272424 !default;
$bodyText: #2F3F58 !default;
$collectionA-primary: #d35400;
$collectionA-hover: #b34700;

// Shadows

// Alert Colors
$success: #28a745 !default;
$info: #17a2b8 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;

// Typography
$primary-font: "HK Grotesk", sans-serif;